<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0218441b-162d-422f-9a50-b31c47288996/resourceGroups/ShopifyStatsAPIs20230522224127ResourceGroup/providers/Microsoft.Web/sites/ShopifyStatsApi</ResourceId>
    <ResourceGroup>ShopifyStatsAPIs20230522224127ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://shopifystatsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>62819854-d297-4622-8c00-e1e9f5d97772</ProjectGuid>
    <PublishUrl>https://shopifystatsapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ShopifyStatsApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>