<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://updatedatfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0218441b-162d-422f-9a50-b31c47288996/resourceGroups/ShopifyStatsAPIs20230522224127ResourceGroup/providers/Microsoft.Web/sites/UpdatedAtFunction</ResourceId>
    <UserName>$UpdatedAtFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://updatedatfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>